body {
    color:rgb(0, 0, 0);
    margin: 0px;
    overflow: hidden;
    font-family: "Inter", serif;
}

h2 {
    text-align: center;
}

.container-carrito {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: 
        auto
        auto
        1fr
        auto
    ;
    min-height: 100vh;
    height: auto;
    justify-items: center;
    gap: 20px;
}

.carrito {
    border: 10px solid rgb(0, 0, 0);
    width: 1000px;
}

.logo-ecommerce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos {
    width: 40px;
    height: 30px;
}

#h4-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    gap: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    gap: 20px;
}